<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="http://localhost/navbarScript.js"></script>
    <script defer src="http://localhost/allRestaurants.js"></script>
    <link rel="stylesheet" href="http://localhost/styles/allRestaurants.css">
</head>
<body>
    <div id="navbarContainer"></div>
    <div style="margin-top: 1000px;">
        <h2>Restaurants:</h2>
        <ul id="restaurantList"></ul>
    </div>
</body>
</html>