<html>

<head>
    <title>Your Cart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="cart.js"></script>
</head>

<body>
    <h3>Here is your cart:</h3>

    <ul id="productsList"></ul>

    <input id="purchseBtn" type="button" value="Purchase">

</body>

</html>