<html>

<head>
    <title>Your Cart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="cart.js"></script>
    <link rel="stylesheet" href="http://localhost/styles/myCart.css">
</head>

<body>
    <h3>Here is your cart:</h3>
    <h2 id="emptyCart"></h2>

    <ul id="productsList"></ul>

    <input id="purchaseBtn" type="button" value="Purchase">
    <h3 id="totalPrice"></h3>

</body>

</html>