<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script defer src="mainPage.js"></script>
    <script defer src="navbarScript.js"></script>
    <script defer src="usersGraph.js"></script>
    <link rel="stylesheet" href="http://localhost/styles/mainPage.css">
    

</head>
<body>
    <header id="navbarContainer"></header>

    <div id="store-info">
        <label for="store-info"><h1>About Us</h1></label>
        <div id="aboutUs">
            <p id="aboutUs-paragraph">
                <strong id="welcome">Welcome</strong> to Super Express, your ultimate food adventure hub! 
                We've brought together the best restaurants in town, all in one convenient place. 
                Want pizza? Sushi? Burgers? We've got it all! Join us and get the tastiest food without
                breaking the bank. It's super easy to use, and you'll find tons of yummy options. 
                Why bother cooking when you can get the best grub delivered right to you? 
                Hop on Super Express and treat yourself to some seriously good eats!
            </p>
            <div><video id="aboutUs-video" width="400" height="260" controls>
                <source src="http://localhost/logoPicture/superExpress-video.mp4" type="video/mp4">
              </video></div>
        </div>
    </div>

    <div id="graphContainer" style="margin-top: 300px;">
        <h3>New users throughout the year</h3>
        <div id="graph"></div>
    </div>

    
    <div>
        <h3>I feel like eating..</h3>
        <div id="tagsSlider"></div>
    </div>
    <div>
        <h3>Our top rated restaurants</h3>
        <ul id="restaurantList"></ul>
    </div>
   


</body>
</html>