<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script defer src="mainPage.js"></script>
    <script defer src="navbarScript.js"></script>
    <script defer src="usersGraph.js"></script>
    <link rel="stylesheet" href="http://localhost/styles/mainPage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    

</head>
<body>
    <header id="navbarContainer"></header>

    <div id="store-info">
        <label for="store-info"><h1>About Us</h1></label>
        <div id="aboutUs">
            <p id="aboutUs-paragraph">
                <strong id="welcome">Welcome</strong> to Super Express, your ultimate food adventure hub! 
                We've brought together the best restaurants in town, all in one convenient place. 
                Want pizza? Sushi? Burgers? We've got it all! Join us and get the tastiest food without
                breaking the bank. It's super easy to use, and you'll find tons of yummy options. 
                Why bother cooking when you can get the best grub delivered right to you? 
                Hop on Super Express and treat yourself to some seriously good eats!
            </p>
            <div><video id="aboutUs-video" width="400" height="260" controls>
                <source src="http://localhost/logoPicture/superExpress-video.mp4" type="video/mp4">
              </video></div>
        </div>
    </div>

    <div id="graphContainer" class="section">
        <div id="graphData">
            <h3 class="container-title">New users throughout the year</h3>
            <div id="graph"></div>
        </div>
    </div>

    
    <div class="section">
        <h3 class="container-title">I feel like eating..</h3>
        <div class="tags-container">
            <div id="tagsSlider"></div>
        </div>
    </div>
    <div class="section">
        <h3 class="container-title">Our top rated restaurants</h3>
        <div id="restaurantPodium">
            <div id="podiumSteps">
                <div class="step" id="secondStep"><i class="bi bi-trophy-fill trophy"><h4 class="placement">2</h4></i></div>
                <div class="step" id="firstStep"><i class="bi bi-trophy-fill trophy"><h4 class="placement">1</h4></i></div>
                <div class="step" id="thirdStep"><i class="bi bi-trophy-fill trophy"><h4 class="placement">3</h4></i></div>
            </div>

            <div id="secondPlace" class="podiumSpot"></div>
            <div id="firstPlace" class="podiumSpot"></div>
            <div id="thirdPlace" class="podiumSpot"></div>
        </div>
    </div>
   
</body>

<footer>
    <div id="footer-info">
        <p id="footer-slogan">Hungry? Don`t have where to eat? We Got You Covered!</p>
        <h2 id="footer-facebook-header">Join Us on Facebook!</h2>
        <p id="footer-facebook-text">And get live updates on new restaurants and products to purchase!</p>
        <a href="https://www.facebook.com/profile.php?id=389365304261881"><img src="facebookPictures/facebookIMG.png" alt="Facebook Image"></a>
        <p>©copyright. All rights reserved to SuperExpress.</p>
    </div>
    <div id="footer-separator"></div>
    <div id="footer-links">
        <h3>Quick Links</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/allRestaurants">Restaurants</a></li>
        </ul>

        <img id="footer-icon" src="logoPicture/SuperExpressLogo.png" alt="Logo">
    </div>
</footer>
</html>