<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script defer src="mainPage.js"></script>
    <script defer src="usersGraph.js"></script>
</head>
<body>
    <div id="navbarContainer"></div>

    <aside>
        <nav>
            <form action="/cart" method="get">
                <button id="cart">My Cart</button>
            </form>
            <form action="/orders" method="get">
                <button id="orders">My Orders</button>
            </form>
            <a href="/settings">
                <button id="settingsBtn">settings</button>
            </a>
        </nav>
    </aside>


    <div id="graph"></div>
        
    <ul id="restaurantList"></ul>
</body>
</html>