<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script defer src="mainPage.js"></script>
    <script defer src="navbarScript.js"></script>
    <script defer src="usersGraph.js"></script>
    

</head>
<body>
    <header id="navbarContainer"></header>

    <div id="graphContainer">
        <h3>New users throughout the year</h3>
        <div id="graph"></div>
    </div>

    
    <div>
        <h3>I feel like eating..</h3>
        <ul id="tagsList"></ul>
    </div>
    <div>
        <h3>Our top rated restaurants</h3>
        <ul id="restaurantList"></ul>
    </div>
   


</body>
</html>