<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <script defer src="loginScript.js"></script>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
            <p id="statusTooltip"></p>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <p id="usernameTooltip"></p>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <p id="passwordTooltip"></p>
            </div>
            <div class="form-group">
                <button type="submit" id="submitBtn">Login</button>
            </div>
        <div class="signup-link">
            <a href="/signup">Don't have an account? Sign up</a>
        </div>
    </div>
</body>
</html>