<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <script defer src="ordersPage.js"></script>
    <link rel="stylesheet" href="http://localhost/styles/allOrders.css">
    <title>All Orders</title>
</head>
<body>
    <div id="arrow"><a href="/"><i class="bi bi-arrow-left-circle"></i></a></div>
    <h1>All Orders</h1>
    <div id="groupedOrders-container"></div>

</body>
</html>