<head>
    <title>Hello World!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script defer src="http://localhost/restaurant.js"></script>
</head>

<body>
    <h1 id="name"></h1>
    <h2 id="desc"></h2>
    <h4 id="address"></h4>
    <div id="graph"></div>

    <img id="icon" alt="No Image Found">
    <ul id="tags"></ul>

    <ul id="products"></ul>
</body>

</html>