<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="restaurantsFilters.js"></script>
</head>
<body>
    <h3>Restaurnts:</h3>
    <div>
        <ul id="restaurants"></ul>
    </div>
</body>
</html>