<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settings</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="settings.js"></script>
</head>
<body>
    <div  id="user-data">
        <ul id="user-data-list">
            <li>
                <label for="username">Username:</label>
                <p id="username"></p>
            </li>
            <li>
                <label for="email">Eamil:</label>
                <p id="email"></p>
            </li>
            <li>
                <label for="birthday">Birthday:</label>
                <p id="birthday"></p>
            </li>
            <li>
                <label for="password">password:</label>
                <p id="password"></p>
            </li>
        </ul>
    </div>
    <button id="updateUser" class="btn">update data</button>
    <form action="/logout" method="post">
        <button class="btn">logout</button>
    </form>
    <form action="/deleteUserFromSettings" method="post">
        <button class="btn">delete user</button>
    </form>
</body>
</html>