<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settings</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="settings.js"></script>
</head>
<body>
    <ul id="user-data">
        <li>
            <label for="username">Username:</label>
            <p id="username"></p>
        </li>
        <li>
            <label for="email">Eamil:</label>
            <p id="email"></p>
        </li>
        <li>
            <label for="birthday">Birthday:</label>
            <p id="birthday"></p>
        </li>
        <li>
            <label for="password">password:</label>
            <p id="password"></p>
        </li>
    </ul>
    <form action="/logout" method="post">
        <button>logout</button>
    </form>
    <form action="/deleteUser" method="post">
        <button>delete user</button>
    </form>
</body>
</html>